<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>V-if V-else</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6"></script>
</head>

<body>
    <div id="app">
        <h1 v-if="show">Lolapalloza Concert 2022</h1>
        <h3 key="disponivel" v-if="tickets >50">Há {{tickets}} ingressos disponíveis</h3>
        <h3 key="disponivel" v-else-if="tickets >= 1">Restam apensas {{tickets}} passaports!</h3>
        <h3 key="indisponivel" v-else>Ingressos esgotados</h3>
    </div>

    <script>
        let app = new Vue({
            el: '#app',
            data() {
                return {
                    show: true,
                    tickets: 0
                }
            },
        })
    </script>

</body>


</html>

<!-- v-if Insere ou deleta um elemento. Ele muda a propriedade css display -->